apiVersion: apps/v1
kind: Deployment
metadata:
  name: math-utils-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: math-utils
  template:
    metadata:
      labels:
        app: math-utils
    spec:
      containers:
      - name: math-utils
        image: vinay8498/math-utils:latest
        ports:
        - containerPort: 8080
      imagePullSecrets:
      - name: regcred
